.card {
  width: 30em;
  height: auto;
  margin-top: 4em;
}

.card-info {
  margin: 2em 1em;
  font-size: 15pt;
}

.btn-widthdrawal-deposit {
  margin: 1em;
  margin-top: 4em;
}

.amount-input {
  margin: 1em;
  margin-top: 3em;
  width: 93%;
}
